<!DOCTYPE html>
<html>
<head>
    <title>Booking Successful</title>

    <style>
        body { font-family: Arial; background:#f4f4f4; text-align:center; margin-top:100px; }
        h1 { color:#2e7d32; }
        a {
            display:inline-block;
            margin-top:20px;
            padding:10px 20px;
            background:#2e7d32;
            color:white;
            text-decoration:none;
        }
    </style>
</head>

<body>

    <h1>🎉 Payment & Booking Successful!</h1>
    <p>Your tractor service has been booked successfully.</p>

    <a href="farmer-dashboard.html">Go Back to Home</a>

</body>
</html>
